#
# Shorewall version 4 - Zones File
#
# For information about this file, type "man shorewall-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-zones.html
#
###############################################################################
#ZONE	TYPE		OPTIONS		IN			OUT
#								OPTIONS		OPTIONS
fw		firewall
{% if shorewall.externalPorts is defined %}
net		ipv4
{% endif %}
{% if shorewall.internalPorts is defined %}
loc		ipv4
{% endif %}
